/* Width and color of the scrollbar track */
::-webkit-scrollbar {
    width: 6px;
    background-color: #000000;
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 6px;
}

/* Hover styles for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #1e80ff;
}

@media screen and (min-width: 768px) {
    Box {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
    
}

/* CSS File */

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    font-weight: bold;
}

a:hover {
    color: #1e80ff;
}

a:focus {
    outline: none;
}

a>svg {
    transition: color 0.3s ease;
}

a:hover>svg {
    color: #1e80ff;
}

.bluecolor{
    color: #1e80ff;
}

@media screen and (max-width: 600px) {
    #contactform{
        width: 350px;
    }
    
}